- if @stops.nil? or @stops.empty?
  %br
  No stops within 24 hours
  %br
  under the specified parameters
-else
  %table#upcoming_stops
    %tr
      %th Location
      %th Time
      %th Line
      - @stops.each do |stop|
        %tr{:class => cycle('odd', 'even')}
          %td{:class => 'td_link'}= link_to Location.find(stop.location_id).name, location_path(stop.location_id)
          %td{:class => 'td_nonlink'}= Time.parse(stop.hour.to_s + ':' + stop.minute.to_s).strftime('%l:%M%P')
          %td{:class => 'td_link'}= link_to Line.find(stop.line_id).name, line_path(stop.line_id)
