%br 
%br

Location:
%select{:id => 'location_select'}
  %option{:value => 0}All
  - @locations.each do |location|
    %option{:value => location.id}= location.name

%br
%br
%button#refresh Refresh
%br
= render :partial => 'upcoming_stops'

