%h1= @location_name
%table#stops
  %tr
    %th Time
    %th Line
    - @stops.each do |stop|
      %tr{:class => cycle('odd', 'even')}
        %td= Time.parse(stop.hour.to_s + ':' + stop.minute.to_s).strftime("%l:%M %p")
        %td= link_to Line.find(stop.line_id).name, line_path(stop.line_id)
