%h1{:id => 'location_name'}= @location_name
%span{:id => 'location_id', :class => 'no_display'}= @location_id
%select{:id => 'location_day_select'}
  %option{:selected => (true if Time.now.monday?)    } Monday
  %option{:selected => (true if Time.now.tuesday?)   } Tuesday
  %option{:selected => (true if Time.now.wednesday?) } Wednesday
  %option{:selected => (true if Time.now.thursday?)  } Thursday
  %option{:selected => (true if Time.now.friday?)    } Friday
  %option{:selected => (true if Time.now.saturday?)  } Saturday
  %option{:selected => (true if Time.now.sunday?)    } Sunday
%br
%br
= render :partial => 'location_stops'

